<span class=" field-list"><%=item.id%></span>
<span class="field-list break-all"><%=item.title%></span>
<span class="field-list break-all"><%=item.deadline%></span>
<span class="field-list break-all"><%=item.status%></span>
<span>
    <button class="text-blue-600">Edit</button>
    <button class="text-red-600">Delete</button>
</span>