<div class="flex flex-col w-[80%] p-2">
    <div class="min-h-[200px] w-[100%]">  
    
        <div class=" bg-zinc-600 grid grid-cols-[20px,200px,auto,100px,150px] p-2 gap-2 rounded-t-2xl">
            <span class=" text-slate-200">ID</span>
            <span class="text-slate-200">Tasks</span>
            <span class="text-slate-200">Due Date</span>
            <span class="text-slate-200">Status</span>
            <span class="text-slate-200 text-center">Action</span>
        </div>

        <div class="grid grid-cols-[20px,200px,auto,100px,150px] gap-2 p-2 rounded-b-md">
        
            <% @tasks.each do |item| %>
                <%= render "tasks/list", item: item%>
            <%end%>
            
        </div>  
    </div>
</div>  