<%= render "navbar"%>

<div class=" container flex flex-col item-center gap-8 h-[100%] m-auto">

    <div class="flex h-[300px] w-[100%] p-4 justify-center items-center">
        <span class="text-slate-50 text-8xl p-2">Welcome to Journal Planner</span>
    </div>

    <div class="flex gap-4 w-[100%] justify-center">

        <div class=" bg-slate-500 p-4">
            <%= render 'categories/sidepanel'%>
        </div>

        <div>
            <%= render 'tasks/table' %>
        </div>
    </div>
    
</div>