<div class="flex flex-col">
    <span class="text-slate-50 text-8xl p-2">Welcome to Journal Planner</span>
    <button class="h-[40px] w-[120px] bg-slate-200 rounded-lg ring-2  ring-amber-500 ring-offset-2 hover:ring-4">Create Your Task</button>
</div>

<div>
    
</div>