@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .text-logo {
    @apply text-4xl text-slate-50 select-none;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poippins', sans-serif;
}
.navbar-list {
  display: inline;
}