@tailwind base;
@tailwind components;
@tailwind utilities;


/* @layer components {
  .description {
    @apply hidden 
  }
  
  #description_toggle:checked ~ .description {
    @apply block
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-list {
  display: inline;
}

.field-list {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: rgb(248, 250, 252) !important;
  user-select: none;
}

.shiro {
  color: azure;
}

.modal {
  position: fixed;
  z-index: 1;
  padding: 2em;

  left:  50%;
  top: 50%;
  transform: translate(-50%, -50%);

  overflow: auto;
  background-color: black;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;

  box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0,0,0,0.19);
}

