@tailwind base;
@tailwind components;
@tailwind utilities;


/* @layer components {
  .field-list {
    @apply text-2xl text-slate-50 select-none;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-list {
  display: inline;
}

.field-list {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: rgb(248, 250, 252) !important;
  user-select: none;
}