 <div class="flex gap-3 bg-zinc-700 justify-center items-center p-1 rounded-2xl">
    <%= link_to categories.name, {:id => categories.id}, class: "w-[100%] font-bold text-blue-300 underline ml-2"%>
    <%= link_to "New Task", new_tasks_path(:id => categories.id), class: "p-1 w-[120px] bg-slate-200 rounded-lg text-center"%>
</div>