<div class="flex flex-col gap-2">
    <div>
        <span>Category</span>
        
        <%=link_to "Add New", new_category_path%>
        
    </div>
    <% @categories.each do |cat|%>
        <%=render 'categories/links', categories: cat %>
    <%end%>
</div>