<div class="flex flex-col gap-3">
    <div class="flex w-[100%] items-center">
        <span class="font-bold text-slate-200 text-xl">Category</span>
        
        <%=link_to "Add New", new_categories_path, class: "text-center ml-auto text-slate-200 underline" %>
        
    </div>
    <% @categories.each do |cat|%>
        <%=render 'categories/links', categories: cat %>
    <%end%>
</div>