<%= turbo_frame_tag "modal" do %>
    <div class="modal fixed z-10 p-[2em] left-[40%] top-[25%] transform translate-x-0 translate-y-0 overflow-auto border-1 border-solid drop-shadow-sm">
        <%= render "form", btn: "Update"%> 
    </div>
<% end %>
